<%= javascript_tag do %>
    window.notifications_channel = <%= "/api/users/#{@user.id}/notifications" %>;
<% end %>

<h1>User <%=@user.name %> page</h1>
<p>Created to demonstrate live streaming in browser</p>

<ul id="notifications">
  <h2>Notifications will appear below</h2>
  <% @user.notifications.each do |notification| %>
    <li><%= notification.content %></li>
  <% end %>
</ul>

<ul id="topics">
  <h2>Topics</h2>
  <% @user.topics.each do |topic| %>
      <li><%= topic.title %></li>
  <% end %>
</ul>
